<div class="modal fade">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{title}}</h5>
				<button type="button" class="close" ng-click="close()"
					data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						<form ng-keyup="$event.keyCode == 13 && clickclose()">
							<label class="control-label" for="userPIN" style="width: 100%">Entre
								o PIN do Certificado Digital <input type="password"
								class="form-control" style="width: 100%" id="userPIN"
								ng-model="pin" placeholder="PIN" autofocus />
							</label> <em ng-show="errormsg" for="email" class="invalid">{{errormsg}}</em>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" ng-click="cancel()" class="btn">Cancelar</button>
				<button type="button" ng-click="close()" id="prosseguir"
					class="btn btn-primary" data-dismiss="modal">Prosseguir</button>
			</div>
		</div>
	</div>
</div>