<div class="modal fade" id="modalDialogKeystore">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{title}}</h5>
				<button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						<form>
							<label class="control-label">Selecione a mídia de armazenamento do seu Certificado Digital</label>						
							<div class="list-group" id="keystoreList">
							  <a class="list-group-item list-group-item-action" ng-repeat="item in list" data-toggle="list" href="#" 
							  	data-keystore="{{item.value}}"
							  	ng-class="($index == 0 ? 'active' : '')">
							    <div class="d-flex w-100 justify-content-between">
							      <h5 class="mb-1">{{item.keystoreMedia}}</h5>
							      <strong>{{item.keystoreCertificateType}}</strong>
							    </div>
							    <small>{{item.keystoreDescription}}</small>
							  </a>
							</div>
							<input type="text" class="form-control d-none" id="selectKeystore" ng-model="selectKeystore" />
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" ng-click="cancel()" class="btn">Cancelar</button>
				<button type="button" ng-click="prosseguir()" id="prosseguir" class="btn btn-primary" data-dismiss="modal">Prosseguir</button>
			</div>
		</div>
	</div>
</div>
