
<div
	cg-busy="{promise:promise,message:'Aguarde...',templateUrl:'resources/busy.html'}">

	<div class="container content" style="padding-top: 30px;">
		<div class="alert alert-warning" role="alert"
			ng-show="versionMacOsDesatualizada">
			Extensão do Assijus Signer {{versionAssijusNativeClient}} encontra-se
			desatualizada. <a
				href="signer/chrome-extension/assijus-chrome-extension-setup.pkg"
				class="alert-link">Clique aqui</a> para baixar a versão
			{{versaoMacOsAtualizada}} da extensão para Mac OS.
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="alert alert-warning" role="alert"
			ng-show="versionWinDesatualizada">
			Extensão do Assijus Signer {{versionAssijusNativeClient}} encontra-se
			desatualizada. <a
				href="signer/chrome-extension/assijus-chrome-extension-setup.msi"
				class="alert-link">Clique aqui</a> para baixar a versão
			{{versaoWinAtualizada}} da extensão para Windows.
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="row">
			<div class="col-md-12">
				<modal title="Detalhamento de Problema"
					on-hide="showErrorDetails = false" visible="showErrorDetails">
				<div id="error-detail">
					<h6>{{errorDetails[currentErrorId].errormsg}}</h6>
					<ol>
						<li ng-repeat="ed in errorDetails[currentErrorId].errordetails">
							{{ed.service}} ({{ed.context}}) <br /> <pre
								class="error-details-code">{{ed.stacktrace}}</pre>
						</li>
					</ol>
				</div>
				</modal>

				<modal title="{{progressbarTitle}}" visible="progressbarShow"
					on-hide="progressbarHide()" backdrop="true">
				<div>
					<p>{{progressbarCaption}}</p>

					<div class="progress">
						<div id="progressbar-ad" class="progress-bar" role="progressbar"
							aria-valuenow="{progressbarWidth}" aria-valuemin="0"
							aria-valuemax="100"
							ng-style="{ 'width' : progressbarWidth + '%'}">
							<span class="sr-only"></span>
						</div>
					</div>
				</div>
				</modal>

				<div class="alert alert-warning" role="alert"
					ng-repeat="w in warnings">
					<strong>{{w.title}}</strong> {{w.description}}
				</div>

				<div class="alert alert-danger"
					ng-show="errorDetails.geral.errormsg == errorMsgMissingSigner">
					<p>Não foi possível detectar a extensão do Google Chrome que é
						utilizada para produzir as assinaturas digitais.</p>
					<p>No primeiro acesso ao Assijus, em cada equipamento, é
						necessária uma instalação prévia.</p>
					<p>
						Caso não tenha instalado seu Certificado Digital e os
						pré-requisitos do Assijus, acesse o <a href="#/instalacao"> <u>Tutorial
								de Instalação</u>
						</a>para preparar seu computador para assinatura.
					</p>
				</div>

				<div class="alert alert-danger"
					ng-show="errorDetails.geral.errormsg == errorMsgMissingCertificate">
					<p>Não foi possível detectar nenhum token contendo certificado
						digital válido.</p>
					<p>
						Por favor, verifique se o token está corretamente instalado na
						porta USB e <a href="javascript:location.reload();"><u>recarregue</u></a>
						esta página.
					</p>
					<p>Se o token estiver instalado e mesmo assim o erro persistir
						pode haver um problema entre seu computador e o driver do token.
						Neste caso, por favor, tente reiniciar seu computador.</p>
				</div>

				<div ng-repeat="(key, value) in errorDetails">
					<div class="alert alert-danger"
						ng-show="!value.hasOwnProperty('hideAlert') && !(key == 'geral' && (errorDetails.geral.errormsg == errorMsgMissingCertificate || errorDetails.geral.errormsg == errorMsgMissingSigner))">
						<p>
							<strong>Problema - {{key}}:</strong>
							{{composeErrorMessage(value)}}<span ng-click="presentError(key)">&nbsp;&#128269;</span>
						</p>
						<p>
							Para tentar novamente, <a href="javascript:location.reload();"><u>recarregue</u></a>
							esta página.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row margin-bottom-30"
			ng-show="zeroDocumentosCarregados() && assinanteIdentificado()">
			<div class="col-md-12">
				<p style="font-size: 120%;">
					<span ng-show="apresentarTitulo()">Dr(a).</span> {{assinante}}, não
					localizamos nenhum documento pendente de assinatura.
					<span><button id="selCertificate" ng-show="permiteLogout()"
						class="btn btn-light ml-1" ng-click="logout(progress)"
						title="Clique para selecionar outro certificado">&#9167;
					</button></span>
				</p>

			</div>
		</div>

		<div class="row" ng-show="documentosCarregados()">
			<div class="col-sm-7">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">&#128273;</span>
					</div>
					<input type="text" class="form-control" readonly="yes"
						ng-model="assinante">
					<button id="selCertificate" ng-show="permiteLogout()"
						class="btn btn-light ml-1" ng-click="logout(progress)"
						title="Clique para selecionar outro certificado">&#9167;
					</button>
				</div>
				<!-- 
				<p style="font-size: 120%;"
					ng-show="!apresentarProblema &amp;&amp; assinanteIdentificado() &amp;&amp; !zeroDocumentosCarregados()">
					<span ng-show="apresentarTitulo()">Dr.</span>
					{{assinante}}, por favor, verifique os documentos abaixo e clique
					em "Assinar".</p> -->
			</div>
			<div class="col-sm-3">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">&#128269;</span>
					</div>
					<input type="text" class="form-control" placeholder="Filtrar"
						ng-model="filtro">

				</div>
			</div>
			<div class="col-sm-2">
				<button id="reload" class="btn btn-primary" style="width: 100%"
					data-style="expand-left" ng-click="assinarDocumentos(progress)">
					Assinar&nbsp;&nbsp;<span class="badge badge-light">{{contarChecked()}}</span>
				</button>
			</div>
			<div class="col-sm-12" style="padding-top: 1em;">
				<input type="hidden" name="ad_url_base" value="" /> <input
					type="hidden" name="ad_url_next" value="" />
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th style="text-align: center"><input type="checkbox"
								id="progress_checkall" ng-model="checkall"
								ng-change="marcarTodos()" /></th>
							<th>Número</th>
							<th>Descrição</th>
							<th>Tipo</th>
							<th>Origem</th>
							<th style="text-align: center">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="doc in documentos | orderBy:'code' | filter:filtro">
							<td style="text-align: center">
								<!--
										 Checkbox para selecionar o documento 
										 --> <input type="checkbox" id="ad_chk_{{doc.id}}"
								name="ad_chk_{{doc.id}}" value="true" ng-model="doc.checked"
								ng-disabled="doc.disabled" class="chk-assinar" /> <!--
										 Sigla do documento 
										 --> <input type="hidden" name="ad_descr_{{doc.id}}"
								value="{{doc.code}}" /> <!--
										 Url para download do pacote assinável 
										 --> <input type="hidden" name="ad_url_pdf_{{doc.id}}"
								value="{{doc.urlHash}}" /> <!--
										 Url para o post da assinatura 
										 --> <input type="hidden" name="ad_url_post_{{doc.id}}"
								value="{{doc.urlSave}}" /> <!--
										 Url para o post da assinatura com senha 
										 --> <input type="hidden"
								name="ad_url_post_password_{{doc.id}}" value="{{doc.code}}" />
							</td>
							<td><a
								href="/assijus/api/v1/view/{{doc.system}}/{{doc.id}}/{{doc.secret}}/{{authkey}}"
								target="_blank">{{doc.code}}</a></td>
							<td>{{doc.descr}}</td>
							<td>{{doc.kind}}</td>
							<td>{{doc.origin}}</td>
							<td class="status-td"><span id="status{{doc.id}}"><span
									class="status-pending" data-toggle="tooltip"
									title="Assinar só este documento."><a
										ng-click="assinarDocumento(doc.id)">&#9997;</a></span></span><span
								ng-show="errorDetails.hasOwnProperty(doc.id)"
								ng-click="presentError(doc.id)">&nbsp;&#128269;</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row align-middle" ng-show="lastUpdateFormatted != null">
			<div class="col-md-12">
				<span>Última atualização</span> <span>
					{{lastUpdateFormatted}} </span> <span class="h4"> <a
					class="refresh" ng-click="forceRefresh()"
					title="Clique para atualizar a lista de documentos"> &#128260;
				</a>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="foot">
	<span :title="test.timestamp">v{{test.version}}</span>
</div>
