
<div
	cg-busy="{promise:promise,message:'Aguarde...',templateUrl:'resources/busy.html'}">

	<div class="container content" style="padding-top: 30px;">
		<div class="row">
			<div class="col-md-12">

				<modal title="Detalhamento de Problema"
					on-hide="showErrorDetails = false" visible="showErrorDetails">
				<div id="error-detail">
					<div class="headline">
						<h4>{{errorDetails[currentErrorId].errormsg}}</h4>
					</div>
					<ol>
						<li ng-repeat="ed in errorDetails[currentErrorId].errordetails">
							{{ed.service}} ({{ed.context}}) <br /> <pre
								class="error-details-code">{{ed.stacktrace}}</pre>
						</li>
					</ol>
				</div>
				</modal>

				<modal title="{{progressbarTitle}}" visible="progressbarShow"
					on-hide="progressbarHide()" backdrop="static">
				<div>
					<p>{{progressbarCaption}}</p>

					<div class="progress">
						<div id="progressbar-ad" class="progress-bar" role="progressbar"
							aria-valuenow="{progressbarWidth}" aria-valuemin="0"
							aria-valuemax="100"
							ng-style="{ 'width' : progressbarWidth + '%'}">
							<span class="sr-only"></span>
						</div>
					</div>
				</div>
				</modal>

				<div class="alert alert-warning" role="alert"
					ng-repeat="w in warnings">
					<strong>{{w.title}}</strong> {{w.description}}
				</div>

				<div class="alert alert-danger fade in"
					ng-show="errorDetails.geral.errormsg == errorMsgMissingSigner">
					<p>Não foi possível detectar a extensão do Chrome que é
						utilizada para produzir as assinaturas digitais.</p>
					<p>No primeiro acesso ao Assijus, em cada equipamento, é
						necessária uma instalação prévia, conforme as orientações abaixo:</p>
					<ol>
						<li>Caso o equipamento nunca tenha sido utilizado para
							assinar documentos, pode ser necessário instalar o driver do
							token e a cadeia de certificados da autoridade certificadora. O
							procedimento de instalação é mesmo que consta da <a
							href="http://siga.jfrj.jus.br">página de acesso externo do
								SIGA</a>.
						</li>
						<li>Instale <a
							href="http://assijus.jfrj.jus.br/downloads/Microsoft-DOT-NET-Framework-x86-x64-AllOS-ENU.exe"><u>Microsoft
									.NET Framework 4.5.1</u></a>.
						</li>
						<li>Instale o programa <a
							href="signer/chrome-extension/assijus-chrome-extension-setup.msi"><u>assijus-chrome-extension-setup.msi</u></a>.
						</li>
						<li>Reinicie o navegador Chrome (feche e depois abra
							novamente). Uma janela será exibida perguntando se deseja ativar
							a extensão recentemente instalada. Clique no botão "Ativar
							extensão"</li>
						<li>Caso a extensão não seja detectada, verifique se está
							instalada acessando a página da <a
							href="https://chrome.google.com/webstore/detail/assijus-signer/ifabfihopbhogohngopafekijckmpmka"><u>Chrome
									Web Store</u></a>. Também verifique na Lista de Extensões (Menu/Mais
							ferramentas/Extensões) se o Assijus Signer está presente e ativo.
						</li>
					</ol>
				</div>

				<div class="alert alert-danger fade in"
					ng-show="errorDetails.geral.errormsg == errorMsgMissingCertificate">
					<p>Não foi possível detectar nenhum token contendo certificado
						digital válido.</p>
					<p>
						Por favor, verifique se o token está corretamente instalado na
						porta USB e <a href="javascript:location.reload();"><u>recarregue</u></a>
						esta página.
					</p>
					<p>Se o token estiver instalado e mesmo assim o erro persistir
						pode haver um problema entre o Windows e o driver do token. Neste
						caso, por favor, tente reiniciar o Windows.</p>
				</div>

				<div ng-repeat="(key, value) in errorDetails">
					<div class="alert alert-danger fade in"
						ng-show="!value.hasOwnProperty('hideAlert') && !(key == 'geral' && (errorDetails.geral.errormsg == errorMsgMissingCertificate || errorDetails.geral.errormsg == errorMsgMissingSigner))">
						<p>
							<strong>Problema - {{key}}:</strong>
							{{composeErrorMessage(value)}}<span ng-click="presentError(key)">&nbsp;&#128269;</span>
						</p>
						<p>
							Para tentar novamente, <a href="javascript:location.reload();"><u>recarregue</u></a>
							esta página.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row margin-bottom-30"
			ng-show="zeroDocumentosCarregados() && assinanteIdentificado()">
			<div class="col-md-12">
				<p style="font-size: 120%;">Dr(a). {{assinante}}, não
					localizamos nenhum documento pendente de assinatura.</p>
			</div>
		</div>
		<div class="row" ng-show="documentosCarregados()">
			<div class="col-md-7">
				<div class="input-group">
					<div class="input-group-addon">&#128273;</div>
					<input type="text" class="form-control" readonly="yes"
						ng-model="assinante">
				</div>
				<!-- 
				<p style="font-size: 120%;"
					ng-show="!apresentarProblema &amp;&amp; assinanteIdentificado() &amp;&amp; !zeroDocumentosCarregados()">Dr.
					{{assinante}}, por favor, verifique os documentos abaixo e clique
					em "Assinar".</p> -->
			</div>
			<div class="col-md-3">
				<div class="input-group">
					<div class="input-group-addon">&#128269;</div>
					<input type="text" class="form-control" placeholder="Filtrar"
						ng-model="filtro">

				</div>
			</div>
			<div class="col-md-2">
				<button id="reload" class="btn btn-primary" style="width: 100%"
					data-style="expand-left" ng-click="assinarDocumentos(progress)">
					Assinar&nbsp;&nbsp;<span class="badge">{{contarChecked()}}</span>
				</button>
			</div>
			<div class="col-md-12" style="padding-top: 1em;">
				<input type="hidden" name="ad_url_base" value="" /> <input
					type="hidden" name="ad_url_next" value="" />

				<!-- 
						<div class="headline"
							style="border-bottom-width: 0px; margin-bottom: 0px;">
							<h2 style="margin-bottom: 15px;">Documentos do Siga-Doc</h2>
						</div>
						 -->
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="text-align: center"><input type="checkbox"
								id="progress_checkall" ng-model="checkall"
								ng-change="marcarTodos()" /></th>
							<th>Número</th>
							<th>Descrição</th>
							<th>Tipo</th>
							<th>Origem</th>
							<th style="text-align: center">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="doc in documentos | orderBy:'code' | filter:filtro">
							<td style="text-align: center">
								<!--
										 Checkbox para selecionar o documento 
										 --> <input type="checkbox" id="ad_chk_{{doc.id}}"
								name="ad_chk_{{doc.id}}" value="true" ng-model="doc.checked"
								ng-disabled="doc.disabled" class="chk-assinar" /> <!--
										 Sigla do documento 
										 --> <input type="hidden" name="ad_descr_{{doc.id}}"
								value="{{doc.code}}" /> <!--
										 Url para download do pacote assinável 
										 --> <input type="hidden" name="ad_url_pdf_{{doc.id}}"
								value="{{doc.urlHash}}" /> <!--
										 Url para o post da assinatura 
										 --> <input type="hidden" name="ad_url_post_{{doc.id}}"
								value="{{doc.urlSave}}" /> <!--
										 Url para o post da assinatura com senha 
										 --> <input type="hidden"
								name="ad_url_post_password_{{doc.id}}" value="{{doc.code}}" />
							</td>
							<td><a ng-click="view(doc)">{{doc.code}}</a></td>
							<td>{{doc.descr}}</td>
							<td>{{doc.kind}}</td>
							<td>{{doc.origin}}</td>
							<td class="status-td"><span id="status{{doc.id}}"><span
									class="status-pending" data-toggle="tooltip"
									title="Assinar só este documento."><a
										ng-click="assinarDocumento(doc.id)">&#9997;</a></span></span><span
								ng-show="errorDetails.hasOwnProperty(doc.id)"
								ng-click="presentError(doc.id)">&nbsp;&#128269;</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row" ng-show="lastUpdateFormatted != null">
			<div class="col-md-12">
				<p>
					{{lastUpdateFormatted}} <a class="refresh"
						ng-click="forceRefresh()">&#9851;</a>
				</p>
			</div>
		</div>
	</div>
</div>
</div>
